.card {
  display: flex;
  flex-direction: row;
  border-radius: 8px;

  height: 64px;
  line-height: 64px;
  justify-content: space-around;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.1);
}

.card > .div {
  width: 92px;
}

.title-short, title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.title-short {
  line-height: 64px;
  width: 92px;
}

.title, .description {
  display: none;
}

.icon {
  display: flex;
  justify-content: center;
}

img {
  position: relative;
  width: 32px;
  min-width: 32px;
  aspect-ratio: 1;
}

img[alt]:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;
  text-align: center;
  content: attr(alt);
}

.header, description {
  display: none;
}

.text {
  text-align: center;
  font-weight: lighter;
  width: 92px;
}

.temp:after {
  content: "\00b0 C";
}

.speed:after {
  content: "m/s";
  padding-left: 4px;
}

@media(min-width: 720px) {
  .card {
    flex-direction: column;
    margin-bottom: 1.5rem;
    height: unset;
    line-height: unset;
    justify-content: unset;
    height: 100%;
  }

  .title-short {
    display: none;
  }

  .title {
    display: block;
    text-align: center;
    font-weight: bold;
    min-height: 64px;
    margin-top: 2rem;
    padding-inline: 10px;
  }

  .description {
    display: block;
  }

  .description .header {
    padding-top: 1rem
  }

  .description .text {
    min-height: unset; /* 200px; */
  }

  img {
    position: relative;
    width: 92px;
    min-width: 92px;
  }

  .header {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  .text {
    width: unset;
  }
}

@media(min-width: 830px) {
  .title {
    padding-inline: 20px;
  }
  .description .text {
    padding-inline: 10px;
    min-height: 200px;
  }
}

@media(min-width: 1060px) {
  .title {
    padding-inline: unset;
  }
  .description .text {
    padding-inline: 10px;
    min-height: 160px;
  }
}

@media(min-width: 1440px) {
  .description .text {
    min-height: 90px;
  }
}
