<div class="card" data-testid="card">
  @if (data) {
  <div>
    <h5 class="title-short">{{ getFormattedDay(data.datetime) }}</h5>
    <h5 class="title">{{ getFormattedDate(data.datetime) }}</h5>
  </div>
  <div class="icon">
    <img [src]="getIconUrl(data.icon)" alt="Weather icon">
  </div>
  <div class="description">
    <p class="header">Description</p>
    <p class="text">{{ data.description }}</p>
  </div>
  <div>
    <p class="header">Temperature</p>
    <p class="text temp">{{ data.temp }}</p>
  </div>
  <div>
    <p class="header">Wind Speed</p>
    <p class="text speed">{{ data.windspeed }}</p>
  </div>
  }
</div>
